@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #5f2c82;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 250px;
    height: 500px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
}

div#img {
    background-image: url("../imagens/login.jpg");
    width: 250px;
    height: 200px;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 15px 15px 0px 0px;
}

form p {
    text-align: center;
}

div#formulario > h1 {
    text-align: center;
    margin: 15px 0px;
}

div#formulario > p {
    font-size: 0.78em;
    padding: 0px 10px;
    line-height: 1.4em;
}  

div.box {
    background-color: #5f2c82;
    width: 92%;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

span.material-symbols-outlined {
    width: 20px;
    color: white;
    padding: 5px 0px 0px 5px;
}

input {
    padding: 8px 0px;
    border-radius: 8px;
}